.red {
  color: #ff0000 !important;
}

.green {
  color: #00aa00 !important;
}

.blue {
  color: #0000ff !important;
}

.orange {
  color: #FCa22d !important;
}

.reveal .caption {
  text-align: center !important;
}

#vcenter {
  vertical-align: middle;
}

.myblock {
  background: gray;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  color: white;
}

.myyellowblock {
  background: #fbdcc0;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
}

.reveal section aside {
        position: relative;
        padding-left: 60px;
      }

.reveal section aside::before {
        content: "";
        background-image: url('img/danger.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 54px;
        height: 54px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

